mixin rangeSlider()
    .slider-container
        toolcool-range-slider(
            min="0",
            max="15000",
            value1="5000",
            value2="10000",
            slider-width="266px",
            slider-height="6px",
            pointer-width="12px",
            pointer-height="12px",
            pointer-border="2px solid white",
            pointer-bg="MediumAquamarine",
             slider-bg="lightgray",
            slider-bg-fill="MediumAquamarine",
            slider-border="1px solid rad",
            
            
      )