
mixin button(options )
    div(class=`btn__block ${options.className}`)
        button(class=options.isPrimary?'btn btn--primary': 'btn btn--second')=options.text
        //- img( alt="enter", class=options.isImage?"btn__image":"btn__image-none")
        img(src=require("./assets/arrow_forwardWhite.svg").default, alt="enter", class=options.isImage?"btn__image":"btn__image-none")

//- {text, isPrimary, isImage=false, className?}

mixin cardFooter(items, name )
    ul(class=`menu__list ${name}`) 
        each name,index in items 
            li(class=`menu__item${index+1}`)
                a(href="#")= name

mixin cardCalendar()
    .calendar__block
        .calendar__wrapper
            h2 Найдём номера под ваши пожелания
            .calendar__period 
                label(for="arrival") прибытие
                    input(type="date", name="arrival", id="arrival", class="main__arrival")
                label(for="departure") выезд
                    input(type="date", name="departure", id="departure" class="main__departure")
            
            div(class="dropdown", id="dropdownContent")
                label(for="guest") Гости
                .guest-title 
                    button(class="show-dropdown") Сколько гостей
                    img(src=require("./assets/expand_more.svg").default, alt="expend more")
                    .dropdown__content 
                        +valueControl("взрослые", "adults")
                        +valueControl("дети", "children") 
                        +valueControl("младенцы", "babies")
                        .guest-design 
                            button(class="guest__button--clear") очистить
                            button(class="guest__button--apply") применить
            +button({text:"подобрать номер", isPrimary:true, isImage:true})


mixin valueControl(name, className)
    .value__control 
        span(class=className)= name
        .value__block
            button(class=`${className} btn--minus`) -
            span(class=`${className} btn-value`) 0
            button(class=`${className} btn--plus`) +


mixin registration(options)
    -
     var registrationClassName = options.isEnter ? "registration" : "registration enter__card";
     var registrationTitle = options.isEnter ? "Регистрация аккаунта" : "Войти";
     var forButton = options.isEnter ? "зарегистрироваться" : "войти";
     var dataEnter = options.isEnter ? "данные для входа в сервис" : "";
     var registrationText = options.isEnter ? "Уже есть аккаунт на Toxin" : "Нет аккаунта на Toxin?";
     var registrationFinish = options.isEnter ? "войти" : "создать";
    div(class = `forRegistration ${options.className ? "show" : "showNone"} ${options.isEnter ? "enter-form" : "registration-form"}`)
        .registration__block
            h2= registrationTitle
            div(class=registrationClassName)
                input(type="text", name="name", class="registrationName", placeholder="Имя")
                input(type="text", name="surname", class="registrationSurname", placeholder="Фамилия")
                .forMale
                    label(for="male")
                        input(type="radio" id="male" name="gender" class="registrationMale" value="male")
                        | Мужчина
                    label(for="female")
                        input(type="radio" id="female" name="gender" class="registrationFemale" value="female")
                        | Женщина
                .born 
                    label(for="born") дата рождения
                        input(type="date", name="born", id="born")
            span(class="registration__forEnter")= dataEnter
            label(for="enterEmail") 
                input(type="email", id="enterEmail" name="enterEmail" class="registrationEmail" placeholder="Email")
            label(for="enterPassword")
                input(type="password", id="enterPassword" name="enterEmail" class="registrationPassword" placeholder="Пароль")
            div(class=registrationClassName)
                .toggle 
                    input(type="checkbox", id="special" name="special" class="toggle-checkbox")
                    label(for="special" class="toggle-label") 
                    span Получать спецпредложения
            +button({text:forButton, isPrimary:true, isImage:true})
            .registration__footer
                span= registrationText
                +button({text:registrationFinish, isPrimary:false})