mixin button(text, isPrimary, isImage=false)
    .btn__block
        button(class=isPrimary?'btn btn--primary': 'btn btn--second')=text
        img(src=require("./assets/arrow_forwardWhite.svg").default, alt="enter", class=isImage?"btn__image":"btn__image-none")

mixin cardFooter(items, name )
    ul(class=`menu__list ${name}`) 
        each name,index in items 
            li(class=`menu__item${index+1}`)
                a(href="#")= name

mixin cardCalendar()
    .calendar__block
        .calendar__wrapper
            h2 Найдём номера под ваши пожелания
            .calendar__period 
                label(for="arrival") прибытие
                    input(type="date", name="arrival", class="main__arrival")
                label(for="departure") выезд
                    input(type="date", name="departure", class="main__departure")
            
            div(class="dropdown", id="dropdownContent")
                label(for="guest") Гости
                .guest-title 
                    button(class="show-dropdown" onclick="toggleDropdown()") Сколько гостей
                    img(src=require("./assets/expand_more.svg").default, alt="expend more")
                    .dropdown__content
                        a(href="#" class="dropdown__link") взрослые 
                            +valueControl()
                        a(href="#" class="dropdown__link") дети 
                            +valueControl()
                        a(href="#" class="dropdown__link") младенцы 
                            +valueControl()
                        .guest-design 
                            button(class="guest__button--clear") очистить
                            button(class="guest__button--apply") применить
            +button("подобрать номер", true, true)
            //- button(onclick="toggleDropdown()")

mixin valueControl()
    .value__control 
        button(class="value__control-btn--minus") -
        span(class="value__control-value")= 0
        button(class="value__control-btn--plus") +


mixin registration(options)
    -
     var registrationClassName = options.isEnter ? "registration" : "registration enter__card";
     var registrationTitle = options.isEnter ? "Регистрация аккаунта" : "Войти";
     var forButton = options.isEnter ? "зарегистрироваться" : "войти";
     var dataEnter = options.isEnter ? "данные для входа в сервис" : "";
     var registrationText = options.isEnter ? "Уже есть аккаунт на Toxin" : "Нет аккаунта на Toxin?";
     var registrationFinish = options.isEnter ? "войти" : "создать";
    div(class = "forRegistration")
        .registration__block
            h2= registrationTitle
            div(class=registrationClassName)
                input(type="text", name="name", class="registrationName", placeholder="Имя")
                input(type="text", name="surname", class="registrationSurname", placeholder="Фамилия")
                .forMale
                    label(for="male")
                        input(type="radio" id="male" name="gender" class="registrationMale" value="male")
                        | Мужчина
                    label(for="female")
                        input(type="radio" id="female" name="gender" class="registrationFemale" value="female")
                        | Женщина
                .born 
                    label(for="born") дата рождения
                        input(type="date", name="born")
            span(class="registration__forEnter")= dataEnter
            label(for="enterEmail") 
                input(type="email", name="enterEmail" class="registrationEmail" placeholder="Email")
                input(type="password", name="enterEmail" class="registrationPassword" placeholder="Пароль")
            div(class=registrationClassName)
                .toggle 
                    input(type="checkbox", name="special" class="toggle-checkbox")
                    label(for="special" class="toggle-label") 
                    span Получать спецпредложения
            +button(forButton, true, true)
            .registration__footer
                span= registrationText
                +button(registrationFinish, false)