mixin button(text, isPrimary)
    button(class=isPrimary?'btn btn--primary': 'btn btn--second')=text

mixin cardFooter(items, name )
    ul(class=`menu__list ${name}`) 
        each name,index in items 
            li(class=`menu__item${index+1}`)
                a(href="#")= name

mixin cardCalendar()
    .calendar__block


mixin registration(options)
    -
     var registrationClassName = options.isEnter ? "registration" : "registration enter__card";
     var registrationTitle = options.isEnter ? "Регистрация аккаунта" : "Войти";
     var forButton = options.isEnter ? "перейти к оплате" : "войти"
    div(class = registrationClassName)
        h2= registrationTitle
        div(class="forRegistration")
            input(type="text", name="name", class="registrationName", placeholder="Имя")
            input(type="text", name="surname", class="registrationSurname", placeholder="Фамилия")
            .forMale
                label(for="male")
                    input(type="radio" id="male" name="gender" class="registrationMale" value="male")
                    | Мужской
                label(for="female")
                    input(type="radio" id="female" name="gender" class="registrationFemale" value="female")
                    | Женский
            label(for="born") дата рождения
                input(type="date", name="born")
        label(for="enterEmail")
        input(type="email", name="enterEmail" class="registrationEmail")
        input(type="password", name="enterEmail" class="registrationPassword")
