include ../mixins.pug

mixin dropdownRoom(options)
    .dropdownRoom
        .dropdownRoom__labels
            label(for="guest") #{options.label? options.label:""}
            span #{options.labelText? options.labelText:""}
        .dropdownRoom-title 
            button(class="show-dropdownRoom") #{options.value?options.value:"Сколько гостей"}
            img(src=require("@assets/expand_more.svg").default, alt="expand more")
            div(class=`dropdown__content ${options.isContent? "dropdown__content--active":""}`) 
                +valueControl("спальни", "rooms")
                +valueControl("кровати", "beds") 
                +valueControl("ванные комнаты", "bathrooms")