include ../mixins/mixins.pug
include ../mixins/input/inputForm.pug

mixin footer(options={})
    footer(class=`${options.isMobile ? "footerMobile" : ""} footer`)
        .wrapper
            .footer__head
                .footer__title
                    img(src=require("@assets/logo.svg").default, alt="logo")
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer__text
                    .footer__navigation
                        +cardFooter(['навигация',"О нас", "Новости", "Служба поддержки", "Услуги"], "menu__list-navigation")
                    .footer__about
                        +cardFooter(['о нас',"О сервисе", "Наша команда", "Вакансии", "Инвесторы"], "menu__list-about")
                    .support 
                        +cardFooter(["Служба поддержки",'Соглашения','Сообщества','Связь с нами'], "menu__list-support")
                .subscription
                    span.subscription__title Подписка
                    p.subscription__text 
                        | Получайте специальные
                        br
                        | предложения и новости сервиса
                    +inputForm({placeholder: "Email", className: "footer__email",isImage: "go"})
            .footer__foot
                p Copyright © 2018 Toxin отель. Все права защищены.
                .footer__social
                    img(src=require('@assets/x-twitter.svg').default, alt='twitter')
                    img(src=require('@assets/facebook.svg').default, alt='facebook')
                    img(src=require('@assets/instagram.svg').default, alt='instagram')
